				<div class="divider2"></div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="left">&copy; <%= Time.now.year %> Morgantown Harvest Church of God. All rights reserved.</div>
    <div class="right">Based on design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree Design</a></div>
	</div>
	
</div>
</div><!--
  Modified version of 
	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com
-->
</body>
</html>